body
{
    background-color: #f2f2f2;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.container
{
    font: bold;
    font-size: 1.5rem;
    background-color: #8ED1B2;
    text-align: center;
    height: 500px;
    width: 24rem;
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.25);
}
img
{
    height: 124px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p
{
    border: 2px solid black;
    font-size:large;
    border-radius: 10px;
}
p::after{
    background-image: conic-gradient(#ff4545, #00ff99 , #006aff, #ff0095, #ff4545);
    border-radius: 10px;
}
h1
{
    font: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #919191,
                 1px 2px 1px #919191;
}

.btn {
  margin: 2.25rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
} 
.div2
{
    margin: 2.25rem;
    position: relative;
}
